/*Universal Formats*/
html {
  font-size: 16px;
}

body {
  background-color: #efefef;
  color: #535353;
  font-family: 'helvetica', sans-serif;
}

.page-container {
  margin: 0 auto;
  background-color: #efefef;
}

/*Header format*/

header {
  border: 2px solid black;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.mobile-header {
  display: none;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
}

.header-left {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}

.company-name {
  font-family: 'Graduate', sans-serif;
  font-size: 1.5rem;
  display: flex;
}

.company-name span:last-child {
  color: #ff3b3f;
}

nav ul {
  padding-right: 1.5rem;
}

nav li {
  display: inline-block;
  margin-left: 1rem;
}

header a {
  color: #535353;
  text-decoration: none;
}

header a:hover {
  color: #ff3b3f;
  font-size: 1.1rem;
  transition: all 0.3s;
}

/* Tablet Header Format*/
@media only screen and (max-width: 850px) {
  .mobile-header {
    display: none;
  }

  nav li {
    margin-left: 8px;
  }
}

/*Mobile Header Format*/
@media only screen and (max-width: 750px) {
  /* Format page container */
  .page {
    width: 100%;
  }
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
  }
  .mobile-header a:hover {
    transform: scale(1.3);
    transition: scale 0.3s;
  }
}
